* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  padding: 24px 156px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.gallery img {
  width: 360px;
  height: 200px;
}

.gallery-item {
  padding: 10px;
}

.basicLightbox--visible {
  background-color: rgba(46, 47, 66, 0.8);
}

.modal img {
  width: 1112px;
  height: 640px;
}
